<!DOCTYPE html>
<html lang="en">
  <title> Destiny </title>
  <link rel="icon" href=
  "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFm-XmTHU2ClMCHaVHGXFG4TWIURC0MSEFi8bMjYXJTfgMRXSq1GafuLRWRpZ53P4StvE&usqp=CAU"
            type="image/x-icon">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include about.html %}
  {% include skills.html %}
  {% include portfolio.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>